<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nguyenmp.gauchodroid"
	android:versionCode="6"
	android:versionName="0.0.5" >
	
	<uses-sdk 
	    android:minSdkVersion="7" 
	    android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	
	<application 
	    android:hardwareAccelerated="true"
	    android:icon="@drawable/ic_launcher"
	    android:label="@string/app_name" 
	    android:theme="@style/Holo.Theme" >
		<activity 
		    android:name=".login.LoginActivity" 
		    android:label="@string/gaucho_space" 
		    android:windowSoftInputMode="adjustResize" >
		</activity>
		<activity android:name=".upload.UploadActivity" android:label="@string/gaucho_space" >
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
	    </activity>
		<activity android:name=".courses.MyCoursesActivity" android:label="@string/gaucho_space" >
		    <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".course.CourseActivity" android:label="@string/gaucho_space" />
		<activity android:name=".user.UserActivity" android:label="@string/gaucho_space" >
		    <intent-filter >
		        <data 
		            android:host="gauchospace.ucsb.edu"
		            android:path="/courses/user/view.php"/>
		        <data 
		            android:host="gauchospace.ucsb.edu"
		            android:path="/courses/mod/forum/user.php"/>
		    </intent-filter>
    	</activity>
		<activity android:name=".browser.BrowserActivity" android:label="@string/app_name" />
		<activity android:name=".forum.ForumActivity" android:label="@string/app_name" />
	</application>
	
</manifest>